<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    
    <h1>Welcome!!</h1>
    <h2>Enter '/admin' in url to see the list of information in Django Admin Panel!</h2>
    
    //Adding firebase data use if required for firebase
    
    <h2>This is Firebase Data</h2>

    <p>Rider First name is {{rider_first_name}}</p>
    <p>Rider last name is {{rider_last_name}}</p>
    <p>Rider email is {{rider_email}}</p>
    <p>Driver First name is {{driver_first_name}}</p>
    <p>Driver Last name is {{driver_last_name}}</p>
    <p>Driver email is {{driver_email}}</p>
    <p>Driver phone number is {{driver_phone_number}}</p>

  </body>
</html>
